doctype html
html(ng-app='meanApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js')
    script(src='/javascripts/meansite.js')
  body
    block content
